<h1>RITLY APP!</h1>

<!--EntryBar-->
<h3>Already have a code?<br>Try it out!!!!</h3>
<%= form_for "/go/:random_string/preview", method: "get" do %><br>
<%= text_field_tag :random_string %>
<%= submit_tag class="button btn-primary" "Preview"%>
<% end %>

<a href="/links/new"> Get Started! </a> <br>
<a href="/links"> See the current database </a>
