<h1> make this nice </h1>

<p>Your code <%= @link.random_string %> goes to <%= @link.url %></p>

<img src=<%= @link.url %>></img> <br>



<a href="/links"> See All Codes </a> <br>
<a href="/links/new"> Generate A New Code </a>