<h1 class="title" style="font-family: 'Bigelow Rules', cursive;">Profile</h1><br>
 
  <h3 style="font-family: 'Bigelow Rules', cursive;">User Name:<br><%= @user.name %></h3><br>
  <h3 style="font-family: 'Bigelow Rules', cursive;">Email:<br><%= @user.email %></h3>

