<h1 class="title"> Submit a new link </h1>

<%= form_for @link do |f| %>

	<%= f.text_field :url, placeholder: "Ex: www.google.com" %> <br>
	<%= f.text_field :random_string, placeholder: "Enter your own string!" %> <br>
<!-- <input type="text" name="link[url]" placeholder="Ex: http://www.google.com/"> -->
	

	<%= f.submit "Generate Code" %>
<% end %>